main {
    ::-webkit-scrollbar {
        display: none;
    }

    .bloque1 {
        margin: 2px;

    }

    img {
        margin: 35px;
        width: 100%;
    }

    h2 {
        font-size: 50px;
    }
section{
    width: 85px;
}

}